<h1>Autores</h1>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Nacionalidade</th>
      <th scope="col">Livros</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <% @autors.each do |autor| %>
      <tr>
        <td><%= autor.nome %></td>
        <td><%= autor.nacionalidade %></td>
        <td><%= link_to autor.livros.count, livros_emprestados_path(autor_id: autor.id) %></td>
        <td><%= link_to "Editar", edit_autor_path(autor) %></td>
        <td><%= link_to "Excluir", autor_path(autor), data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Inserir novo autor", new_autor_path %>
